@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
    font-family: "Poppins";
    margin: 0;
}

* {
    box-sizing: border-box;
}
.bgabu {
    background-color: #cecece;
    border-radius: 20px;
}
