@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.jumbotron {
    padding: 2rem 1rem;
    background-image: url(./images/cover.jpg);
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    background-attachment: fixed;
    background-position: center top;
}

.jumbotron .container .display-3 {
    margin-top: 300px;
    color: #fff;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    font-size: 48px;
    font-weight: bold;
}

.display-6 {
    margin-top: 50px;
}

.h4 {
    margin-top: 100px;
}

.container a h6 {
    text-decoration: none;
    color: #808080;
    background: rgb(255, 255, 255);
}

.isi {
    margin-left: 0;
}
